<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>template view index file</h1>
	<table>
		<thead>
			<tr>
				<th>deptno</th>
				<th>dname</th>
				<th>loc</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bean:${list}">
				<td><a href="detail.html" th:href="@{/detail(idx=${bean.deptno})}" th:text = "${bean.deptno}">NO</a></td>
				<td><a href="detail.html" th:href="@{/detail(idx=${bean.deptno})}" th:text = "${bean.dname}">DEFAULT</a></td>
				<td><a href="detail.html" th:href="@{/detail(idx=${bean.deptno})}" th:text = "${bean.loc}">DEFAULT</a></td>								
			</tr>
		</tbody>
	</table>
	<a href="add.html" th:href="@{/add}">입력</a>
</body>
</html>