@media (max-width:768px) {

  #header .header-left {
    margin: 0;
    display: flex;
  }

  #header h1 a {
    display: block;
  }

  #header h6::after {
    display: none;
  }

  #header .header-left h5 {
    display: block;
    margin-left: 180px;
    padding: 0;
  }

  #header .header-right {
    display: none;
  }
}