/* 헤더/즐겨찾기/메인 컨텐츠 영역 */

#sideBarTap{
  border: 1px solid black;
  height: 50px;
  width: 100%;
}

#sideBar {
  outline: 1px solid #000;
}

.sideBar {
  width: 15%;
}

#rightBar {
  width: 85%;
}

#boardAddModal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sideBarTapItem{
  width: 100%;
}
.sideBarTapFooter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 0;
}

ul, ol, li {
  list-style-type: none;
}

.categoryIntroBar {
  border-bottom: .1rem solid #d9d9d9;
  padding: 5px 0;
}

h2 {
  line-height: 3.5rem;
}

.headlessUl {
  gap: .6rem;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
}

.headlessUl>li {
  margin-top: 5px;
  cursor: pointer;
}

.modal-dialog-centered {
  margin: 0 auto;
}

.modal-header {
  border-bottom: 1px solid #ddd;
}

.modal-footer {
  border-top: none;
}

/* 게시판 사용자 정보 모달 */

#assignBackdrop .modal-dialog {
  min-width: 35%;
}

.navSelector {
  margin-bottom: 25px;
}

.inviteBox,
.defaultAdminBox,
.defaultUserBox {
  position: relative;
  margin-bottom: 50px;
}

.inviteBox p,
.defaultAdminBox p,
.afterAdminBox p,
.defaultUserBox p {
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 600;
}

.inviteBox input {
  margin-bottom: 10px;
  cursor: pointer;
}

.inviteBox i {
  position: absolute;
  top: 5%;
  right: 3%;
}

#assignBackdrop .addList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: .2rem;
  padding: 5px;
  max-height: 10vh;
  overflow-y: scroll;
}

#assignBackdrop .addList strong {
  border: 1px solid #ddd;
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;

  width: 8vw;
  text-align: center;
  font-size: .7vw;
  cursor: pointer;
}

#assignBackdrop .addList strong i {
  position: static;
}

#assignBackdrop table {
  font-size: 15px;
}

#assignBackdrop .scrollbox {
  overflow-y: scroll;
  max-height: 200px;
}

#assignBackdrop table tbody tr td:first-child {
  width: 6vw;
}

#assignBackdrop table tbody tr td:first-child strong {
  display: block;
  max-width: 6vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#assignBackdrop .adminTab table tbody tr td:nth-child(2) {
  position: relative;
}

#assignBackdrop .adminTab table tbody tr td:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -2.5%;
  transform: translateY(-50%);
  width: 1px;
  height: 1vw;
  background-color: #d9d9d9;
  
}

#assignBackdrop table tbody tr td:last-child {
  width: 15%;
  cursor: pointer;
}

#assignBackdrop table tbody tr td:last-child .iconBox {
  display: flex;
  gap: 10%;
  align-items: center;
}

#assignBackdrop table tbody tr td:last-child .iconBox span {
  font-size: 12px;
  font-weight: 600;
}

/* 내 게시판 관리 모달 */

#myBoardBackdrop .modal-dialog {
  min-width: 60%;
}

#myBoardBackdrop .modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#myBoardBackdrop .headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90%;
}

#myBoardBackdrop .modal-body {
  height: 70vh;
}

#myBoardBackdrop .modal-body .scrollBox {
  height: 58vh;
  overflow-y: scroll;
}

/* 특정 부분 스크롤바 없애기 */

::-webkit-scrollbar {
  display: none;
}

.scrollbox{
  -ms-overflow-style: none;
}

.scrollbox::-webkit-scrollbar{
  display:none;
}

#myBoardBackdrop table {
  margin: 0 auto;
  max-width: 90%;
}

#myBoardBackdrop .headTable tr th:first-child {
  width: 60%;
}

#myBoardBackdrop .headTable tr th:nth-child(n+2) {
  width: 10%;
}

#myBoardBackdrop .headTable thead th {
  padding: 10px 0;
  font-size: .9vw;
}

#myBoardBackdrop .bodyTable tbody tr td {
  /* outline: 1px solid #000; */
  font-size: .9vw;
}

#myBoardBackdrop .bodyTable tbody tr td>* {
  /* outline: 1px solid #000; */
}

#myBoardBackdrop .bodyTable tr td:nth-child(n+2) {
  width: 10%;
}

#myBoardBackdrop .bodyTable tbody tr td:first-child {
  max-width: 20vw;
  min-width: 20vw;
}

#myBoardBackdrop .bodyTable tbody tr td:first-child strong {
  display: block;
  min-width: 20vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#myBoardBackdrop .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#myBoardBackdrop .form-check input {
  width: 2vw;
}

#myBoardBackdrop .form-check label {
  /* font-size: .9vw; */
  font-size: 15px;
  font-weight: 600;
}

#myBoardBackdrop tbody td {
  padding: 7px 0;
}

#myBoardBackdrop .delBtn {
  padding: 2.5px 5px;
  width: 60%;
  font-size: 12px;
}

#myBoardBackdrop .btnBox {
  padding: 15px 0;
  gap: 10px;
}

@media (max-width:1325px) {
  #myBoardBackdrop .headTable tr th:first-child {
      width: 50%;
  }

  #myBoardBackdrop .headTable tr th:nth-child(n+2) {
      width: 10%;
  }

  #myBoardBackdrop .headTable thead th {
      padding: 10px 0;
  }

  #myBoardBackdrop .bodyTable tbody tr td:first-child {
      width: 50%;
  }

  #myBoardBackdrop .bodyTable tr td:nth-child(n+2) {
      width: 10%;
  }
}

@media (max-width:1200px) {
  #myBoardBackdrop .headTable tr th:first-child,
  #myBoardBackdrop .bodyTable tbody tr td:first-child {
      width: 50%;
  }

  #myBoardBackdrop .headTable tr th:nth-child(n+2),
  #myBoardBackdrop .bodyTable tr td:nth-child(n+2) {
      width: 10%;
  }

  #myBoardBackdrop .headTable tr th:nth-child(2),
  #myBoardBackdrop .headTable tr th:nth-child(3),
  #myBoardBackdrop .bodyTable tbody tr td:nth-child(3),
  #myBoardBackdrop .bodyTable tbody tr td:nth-child(2) {
      display: none;
  }

  #myBoardBackdrop .headTable thead th {
      padding: 10px 0;
  }
}

@media (max-width:768px) {
  #myBoardBackdrop .headTable tr th:first-child,
  #myBoardBackdrop .bodyTable tbody tr td:first-child {
      width: 30%;
  }

  #myBoardBackdrop .headTable tr th:nth-child(n+2),
  #myBoardBackdrop .bodyTable tr td:nth-child(n+2) {
      width: 10%;
  }


  #myBoardBackdrop .headTable tr th:nth-child(2),
  #myBoardBackdrop .headTable tr th:nth-child(3),
  #myBoardBackdrop .bodyTable tbody tr td:nth-child(3),
  #myBoardBackdrop .bodyTable tbody tr td:nth-child(2),
  #myBoardBackdrop .bodyTable tbody tr td label {
      display: none;
  }

  #myBoardBackdrop .bodyTable tbody tr td .form-switch {
      /* display: block; */
  }

  #myBoardBackdrop .bodyTable tbody tr td .form-switch input {
      margin: 0 auto;
      font-size: 1.5rem;
  }

  #myBoardBackdrop .headTable thead th {
      padding: 10px 0;
  }
}

/* 삭제 모달 */
#delModal p {
  font-size: 1.3rem;
  font-weight: 600;
}

/* 게시판 설정 모달 */
#boardSettingBackdrop .modal-dialog {
  min-width: 30%;
}

#boardSettingBackdrop .settingsBox {
  padding: 15px 5px;
}

#boardSettingBackdrop .settingsBox .topBox {
  margin-bottom: 35px;
}

#boardSettingBackdrop .settingsBox .form-floating:first-child {
  margin-bottom: 10px;
}

#boardSettingBackdrop .settingsBox .checkSettingsBox {
  margin-bottom: 10px;
  gap: 50px;
}

#boardSettingBackdrop .settingsBox .prefaceBox .prefaceListBox {
  border: 1px solid #d9d9d9;
  height: 150px;
  overflow-y: scroll;
}

#boardSettingBackdrop .settingsBox .prefaceBox #button-addon2 {
  border: 1px solid #d9d9d9;
}

#boardSettingBackdrop .prefaceList {
  padding: 0;
}

#boardSettingBackdrop .prefaceListBox .prefaceColumn {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

#boardSettingBackdrop .prefaceColumn>li:first-child {
  flex: 2;
}

#boardSettingBackdrop .prefaceColumn>li:nth-child(n+2) {
  width: 1.8vw;
  text-align: center;
}

#boardSettingBackdrop .prefaceColumn li {
  cursor:pointer
}

@media (max-width:1325px) {
  #boardSettingBackdrop .prefaceColumn>li:first-child {
      flex: 1;
  }

  #boardSettingBackdrop .prefaceColumn>li:nth-child(n+2) {
      width: 10%;
      text-align: center;
  }
}

@media (max-width:1200px) {
  #boardSettingBackdrop .prefaceColumn>li:first-child {
      flex: 1;
  }

  #boardSettingBackdrop .prefaceColumn>li:nth-child(n+2) {
      width: 10%;
      text-align: center;
  }
}

@media (max-width:768px) {
  #boardSettingBackdrop .prefaceColumn>li:first-child {
      flex: 1;
  }

  #boardSettingBackdrop .prefaceColumn>li:nth-child(n+2) {
      width: 10%;
      text-align: center;
  }
}

