@media (max-width: 768px) {

  #articleContent #article-list {
    display: none;
  }

  #articleContent .row {
    display: flex;
    justify-content: space-between;
    width: 35rem;
  }

  #articleContent #article-list .row div {
    width: 35%;
  }

  #articleContent .row div:first-child {
    margin-left: -.9rem;
  }

  #articleContent .row div:first-child button {
    border: 1px solid #ced4da;
  }

  #articleContent .row div:last-child {
    margin-right: -.6rem;
  }

  /* 말머리 너비 */
  #articleContent #article-list th:nth-child(1),
  #articleContent #article-list th:last-child,
  #articleContent #article-list th:nth-child(4),
  #articleContent #article-list td:last-child,
  #articleContent #article-list td:first-child,
  #articleContent #article-list td:nth-child(4) {
    display: none;
  }

  #articleContent #article-list td:nth-child(2),
  #articleContent #article-list td:nth-child(3) {
    max-width: 30vw;
  }

  #articleContent #article-list td:nth-child(2) a,
  #articleContent #article-list td:nth-child(3) a {
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

  }

  /* 작성자 너비 */
  #articleContent #article-list th:nth-child(3) {
    width: 100px;
  }


  /* 조회 너비 */
  #articleContent #article-list th:nth-child(5) {
    width: 80px;
  }

}