@media (max-width:768px) {

  #header .header-left {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #header h1 a {
    display: block;
  }

  #header h6 {
    display: none;
  }

  #header h6::after {
    display: none;
  }

  #header .header-left h5 {
    display: block;
    padding: 0;
  }

  #header .header-right {
    display: none;
  }
}